<div class="row" style = "padding-left: 20px;padding-top: 20px; align-content: center" >
  <div class="col-md-3" style= " background-color:#595959;  border: 5px solid darkslategray">
    <div class= "row">
      
      <div id ="display" ([ngModel]) = "display" style ="margin-top: 20px; background-color:#595959" class="col-md-12">
        <textarea class= "font-size:18px;  align-content: right;" ([ngModel]) = "display" readonly>{{display}}</textarea>
        
      </div>
    </div>
    <div class="row">
        <div (click) = "getValue('1')" class="col-md-3" style= "padding:10px">
          <button class = "btn btn-success" style = "width:inherit;"> 
            1
          </button>
         
        </div>
        <div (click) = "getValue('2')" class="col-md-3" style= "padding:10px">
            <button class = "btn btn-success" style = "width:inherit;"> 
                2
            </button>
          
        </div>
        <div  (click) = "getValue('3')"class="col-md-3" style= "padding:10px">
            <button class = "btn btn-success" style = "width:inherit;"> 
                3
            </button>
        </div>
        <div (click) = "getValue('*')" class = "col-md-3" style= "padding:10px">
            <button class = "btn btn-danger" style = "width:inherit;"> 
                *
            </button>
        </div>
    </div>
    <div class="row">
        <div (click) = "getValue('4')" class="col-md-3" style= "padding:10px">
          <button class = "btn btn-success" style = "width:inherit;"> 
              4
          </button>
        </div>
        <div (click) = "getValue('5')" class="col-md-3" style= "padding:10px">
          <button class = "btn btn-success" style = "width:inherit;"> 
              5
          </button>
        </div>
        <div (click) = "getValue('6')" class="col-md-3" style= "padding:10px">
          <button class = "btn btn-success" style = "width:inherit;"> 
              6
          </button>
        </div>
        <div (click) = "getValue('-')" class="col-md-3" style= "padding:10px">
            <button class = "btn btn-danger" style = "width:inherit;"> 
                -
            </button>
        </div>
    </div>
    <div class="row">
        <div (click) = "getValue('7')"  class="col-md-3" style= "padding:10px">
          <button class = "btn btn-success" style = "width:inherit;"> 
              7
          </button>
        </div>
        <div (click) = "getValue('8')"  class="col-md-3" style= "padding:10px">
          <button class = "btn btn-success" style = "width:inherit;"> 
              8
          </button>
        </div>
        <div (click) = "getValue('9')" class="col-md-3" style= "padding:10px">
          <button class = "btn btn-success" style = "width:inherit;"> 
              9
          </button>
        </div>
        <div (click) = "getValue('+')" class="col-md-3" style= "padding:10px">
            <button class = "btn btn-danger" style = "width:inherit;"> 
                +
            </button>
        </div>
    </div>
    <div class="row">
        <div (click) = "getValue(0)" class="col-md-6" style= "padding:10px">
          <button class = "btn btn-primary" style = "width:inherit;"> 
              0
          </button>
        </div>
        
        <div (click) = "clear()" class="col-md-3" style= "padding:10px">
           <button class = "btn btn-warning" style = "width:inherit;"> 
              AC
          </button>
        </div>
        <div (click) = "equals()" class="col-md-3" style= "padding:10px">
          <button class = "btn btn-danger" style = "width:inherit;"> 
              =
          </button>
        </div>
    </div>
  </div>
</div>